security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:
        dev:
            pattern: ^/(_profiler|_wdt|assets|build)/
            security: false

        main:
            lazy: true
            provider: app_user_provider
            custom_authenticator: App\Security\LoginFormAuthenticator

            logout:
                path: app_logout

            remember_me:
                secret: '%kernel.secret%'
                lifetime: 604800
                path: /

    access_control:
        # Admin routes
        - { path: ^/project/new, roles: ROLE_ADMIN }
        # Dashboard and project list accessible by logged-in users
        - { path: ^/dashboard, roles: ROLE_USER }
        - { path: ^/project/list, roles: ROLE_USER }
