{% extends 'base.html.twig' %}

{% block title %}Edit Task{% endblock %}

{% block styles %}
    {# Optionnel : si tu veux un CSS spécifique aux formulaires de task #}
    <link rel="stylesheet" href="{{ asset('css/task_form.css') }}">
{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <div class="card border-0 shadow-sm">
                <div class="card-body">

                    {# Titre dynamique #}
                    <h3 class="mb-3">Edit Task</h3>

                    {# Formulaire de tâche avec bouton personnalisé #}
                    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
