{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/project_form.css') }}">
{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="mb-3">{{ is_edit is defined and is_edit ? 'Edit Project' : 'Create Project' }}</h3>
                    {{ include('project/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
