{% extends 'base.html.twig' %}

{% block title %}New Project{% endblock %}

{% block body %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-0 shadow-sm">
                <div class="card-body">
                    <h3 class="mb-3">Create Project</h3>
                    {{ include('project/_form.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
